*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
   justify-content: space-between;
   height: 20px;
   padding: 2rem 2rem;
   z-index: 100;
   align-items: center;
   height: 60px;
}
.nav-logo h1{
   background-color: #0052A1;
   padding: 10px;
   color: white;
   
}
.nav-links ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none; 
    align-items: center;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    color: #4e4e4e;
}
/* nav ended */
.homepage{
    height:700px;
    width: 100%;
    background-image: url('https://ychef.files.bbci.co.uk/1600x900/p0h8q4px.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
   
.homepage-content{
   padding: 100px 150px;
}
.homepage-content h4{
    color: #ffffff;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.homepage-content .text-1 h1,h2{
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 20px;
}
.homepage-content .text-2 p{
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 40px;
}
.homepage-content .text-3{
    font-size: 25px;
    color: #ffffff;
}
.homepage-content .text-3 span{
    color: #4e4e4e;
}
.editor-picks h4{
    text-align: center;
    font-size: 15px;
    display: block;
    color: #4e4e4e;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
/* hompage ended */
.work-culture{
    height: 120vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 6rem;
}
.container-1{
    display: flex;
    height: 50vh;
    border: 1px solid black;
}

.upper-container-item{
    width: 50%;
    height: 50vh;
    border: 1px solid red;
    background-image: url('https://ychef.files.bbci.co.uk/1600x900/p0h8g8hn.webp');
    background-size:cover;
    cursor: pointer;
   
}
.upper-container-text h4{
   border: 1px  solid rgb(3, 3, 3);
    font-size: 20px;
   color: #4e4e4e;
   align-items: center;
   margin-bottom: 10px;
}
.upper-container-text{
    z-index: 1;
    position: absolute;
    margin-left:500px;
    margin-top:80px;
    background-color: white;
}
   

.container-2{
    display: flex;
    gap: 1rem;
    height: 60vh;
    border: 1px solid purple;
    margin-top: 10px;
    
}
.container-item{
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.content-img-1{
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.content-img-1 img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
}
.content-img-1 img:hover{
    transform: scale(1.2);
    transition: all 0.365s ease-in-out;
}
.text h5{
   font-size: 16px;
   color:#4A4A4A ;
   line-height: 1.5rem;
}
.text p{
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 10px;
    color: #2E2E2ED9;
}
.italic{
    font-style: italic;
    color: #4A4A4A;
    font-size: 20px;
}
.content-img-2{
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.content-img-2 img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
}
.content-img-2 img:hover{
    transform: scale(1.2);
    transition: all 0.365s ease-in-out;
}
.content-img-3{
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.content-img-3 img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
}
.content-img-3 img:hover{
    transform: scale(1.2);
    transition: all 0.365s ease-in-out;
}
/*work-culture*/
.how-we-live{
    /* width: 100%; */
    /* height:; */
    width:100%;
    height:100%;
    background-image: url('https://ychef.files.bbci.co.uk/976x549/p0gc9s9c.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    /* object-fit: cover; */
   
}

/* hr{
    background-color: #4e4e4e;
    border: 1px solid black;
} */


